<app-card>
  <article>
    <h2 class="text-lg font-medium">{{task.title}}</h2>
    <time class="text-sm">{{task.date | date:"fullDate"}}</time>
    <p class="text-sm">{{task.description}}</p>
    <div class="flex gap-2 flex-row-reverse">
      <button (click)="onDelete()"
        class="bg-red-500 hover:bg-red-700 text-white font-medium px-4 py-2 rounded-md">DELETE</button>
      <button class="bg-green-500 hover:bg-green-700 text-white font-medium px-4 py-2 rounded-md">EDIT</button>
    </div>
  </article>
</app-card>